<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test">
		<parameter name="browser" value="firefox"></parameter>
		<parameter name="baseurl" value="http://127.0.0.1/login.do"></parameter>
		<classes>
			<class name="com.actitime.scripts.LoginTest" />
			<class name="com.actitime.scripts.TaskTest" />
			<class name="com.actitime.scripts.CreateNewTaskTest" />
			<class name="com.actitime.scripts.UserTest" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
